/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BODY ================= */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #1a1a1a;   /* Dark background */
    color: white;
}

/* ================= HEADER ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2f2f;   /* Gray navigation bar */
}

/* Logo */
#logo-img {
   /* Proportional size */
   height: 150px;
    width: 300px;
    padding: 10px;
}

/* Navigation */
nav ul {
    display: flex;
    gap: 110px;
    list-style: none;
    font-size: 45px;
    text-decoration: none; 
    color: white;

}



nav a {
   text-decoration: none;
   color: white;
}

/* ================= MAIN ================= */
main {
    padding: 60px 0;
}

/* Continue Section */
#continue {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.continueblock {
    background-color: #3a3a3a;
    width: 80%;
    height: 180px;
    border-radius: 8px;
}

/* Instructions Section */
#instructions {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 120px;
}

.block {
    background-color: #3a3a3a;
    width: 250px;
    height: 200px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Headings */




/* ================= FOOTER ================= */
footer {
    background-color: #2f2f2f;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 150px;
}

/*
.homepage{
  font-size: 30px;
}*/