/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BODY ================= */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b0cdd1;   /* Dark background */
    color: white;
}

/* ================= HEADER ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(185, 22%, 61%);   /* Gray navigation bar */
}

/* Logo */
#logo-img {
   /* Proportional size */
   height: 150px;
    width: 300px;
    padding: 10px;
}

/* Navigation */
nav ul {
    display: flex;
    gap: 110px;
    list-style: none;
    font-size: 45px;
    text-decoration: none; 
    color: white;

}



nav a {
   text-decoration: none;
   color: white;
}

/* ================= MAIN ================= */
main {
    padding: 10px 0;   /* smaller space */
}

#continue {
    display: flex;
    justify-content: center;
    margin-top: 10px;  /* much smaller gap */
}

.continueblock {
  display: flex;
  background-color: hsl(184, 32%, 70%);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 1500px;
  margin-top: 4px;
  padding-top: 220px;
}

#detail {
  margin-top: 20px;
  text-align: center;
  font-size: 100px;
  font-family: 'Shadows Into Light', cursive;
  color: #3c3d31;
}

#Shotify2 {
  width: 800px;
  height: auto;
}

.aboutusbutton {
  display: inline-block;
  background-color: rgb(93, 142, 154);
  color: #ffffff;
  text-decoration: none;
  padding: 15px 120px;
  border-radius: 8px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

/* Instructions Section */
#instructions {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 120px;
}

.block {
    background-color: #3a3a3a;
    width: 250px;
    height: 200px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Headings */




/* ================= FOOTER ================= */
footer {
    background-color: #2f2f2f;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 150px;
}

/*
.homepage{
  font-size: 30px;
}*/